In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [22]:
data=pd.read_excel('data.xls')

In [6]:
data.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [7]:
data.describe()

                 ID           Age        Height        Weight          Year
count  65535.000000  62987.000000  50246.000000  49456.000000  65535.000000
mean   16955.424125     25.643863    175.511185     70.912640   1977.720027
std     9591.060292      6.488163     10.379998     14.232709     30.147663
min        1.000000     11.000000    127.000000     25.000000   1896.000000
25%     8797.500000     21.000000    168.000000     61.000000   1960.000000
50%    16846.000000     25.000000    175.000000     70.000000   1984.000000
75%    25312.000000     28.000000    183.000000     79.000000   2002.000000
max    33538.000000     88.000000    223.000000    214.000000   2016.000000

### Which of the existing columns contain NA values?

In [27]:
na_cols=data.columns[data.isna().any()]
print(na_cols)

Index(['Age', 'Height', 'Weight', 'Medal'], dtype='object')

In [28]:
data_with_removed_na=data.dropna()

In [30]:
data_with_filled_na=data.copy()
data_with_filled_na[na_cols[:3]]=data_with_filled_na[na_cols[:3]].ffill()
data_with_filled_na['Medal']=data_with_filled_na['Medal'].fillna('None')

In [32]:
data_with_removed_na.describe()

                 ID          Age       Height       Weight         Year
count   6635.000000  6635.000000  6635.000000  6635.000000  6635.000000
mean   17159.134439    25.399096   177.983120    73.962999  1988.116654
std     9601.184649     5.091493    10.782094    15.257804    22.928687
min       16.000000    13.000000   139.000000    32.000000  1896.000000
25%     9034.000000    22.000000   170.000000    63.000000  1976.000000
50%    16778.000000    25.000000   178.000000    73.000000  1992.000000
75%    25609.000000    28.000000   185.000000    83.000000  2006.000000
max    33537.000000    58.000000   223.000000   170.000000  2016.000000

In [33]:
data_with_filled_na.describe()

                 ID           Age        Height        Weight          Year
count  65535.000000  65535.000000  65535.000000  65535.000000  65535.000000
mean   16955.424125     25.675074    175.802777     71.278927   1977.720027
std     9591.060292      6.490019     10.368467     14.215636     30.147663
min        1.000000     11.000000    127.000000     25.000000   1896.000000
25%     8797.500000     21.000000    169.000000     61.000000   1960.000000
50%    16846.000000     25.000000    175.000000     70.000000   1984.000000
75%    25312.000000     28.000000    183.000000     80.000000   2002.000000
max    33538.000000     88.000000    223.000000    214.000000   2016.000000

### in 2nd dataset we have significantly more data!

### What is the dtype for each column variable? Change the dtype of age to int!

In [36]:
print(data_with_filled_na.dtypes)

ID          int64
Name       object
Sex        object
Age       float64
Height    float64
Weight    float64
Team       object
NOC        object
Games      object
Year        int64
Season     object
City       object
Sport      object
Event      object
Medal      object
dtype: object

In [37]:
data_with_filled_na['Age']=data_with_filled_na['Age'].astype(int)

### What is the median age of the participants?

In [38]:
data_with_filled_na['Age'].median()

25.0

### Do more participants participate in winter than in summer?

In [39]:
total_summer=len(list(i for i in data_with_filled_na['Season'] if i=='Summer'))

In [40]:
total_winter=len(list(i for i in data_with_filled_na['Season'] if i=='Winter'))

In [41]:
print(f'total participation in summer: {total_summer}\ntotal participation in winter: {total_winter}')

total participation in summer: 54872
total participation in winter: 10663

### Give as output the number of sports and events held in each season.

In [46]:
summer_games=pd.Series(data_with_filled_na['Games'].iloc[i] for i in range (len(df)) if df['Season'].iloc[i]=='Summer').unique()
winter_games=pd.Series(data_with_filled_na['Games'].iloc[i] for i in range (len(df)) if df['Season'].iloc[i]=='Winter').unique()

In [47]:
summer_games

array(['1992 Summer', '2012 Summer', '1920 Summer', '1900 Summer',
       '1932 Summer', '1952 Summer', '2000 Summer', '1996 Summer',
       '1912 Summer', '1924 Summer', '1948 Summer', '2008 Summer',
       '2016 Summer', '2004 Summer', '1984 Summer', '1968 Summer',
       '1972 Summer', '1988 Summer', '1936 Summer', '1956 Summer',
       '1960 Summer', '1928 Summer', '1976 Summer', '1980 Summer',
       '1964 Summer', '1906 Summer', '1904 Summer', '1908 Summer',
       '1896 Summer'], dtype=object)

In [48]:
winter_games

array(['1988 Winter', '1992 Winter', '1994 Winter', '2002 Winter',
       '1980 Winter', '2014 Winter', '1998 Winter', '2006 Winter',
       '1960 Winter', '1964 Winter', '1984 Winter', '1952 Winter',
       '1956 Winter', '2010 Winter', '1968 Winter', '1972 Winter',
       '1976 Winter', '1924 Winter', '1928 Winter', '1948 Winter',
       '1932 Winter', '1936 Winter'], dtype=object)

In [49]:
print(f'total games in summer: {len(summer_games)}\ntotal games in summer: {len(winter_games)}')

total games in summer: 29
total games in summer: 22

###  Identify the most poor performing country with respect to medals!

In [50]:
team_with_no_medal=pd.Series(data_with_filled_na['Team'].iloc[i] for i in range(len(data_with_filled_na)) if data_with_filled_na['Medal'].iloc[i]=='None')

team_lose_record={}

for i in team_with_no_medal.unique():

    team_lose_record[i]=(team_with_no_medal==i).sum()

max_lost=max(list(team_lose_record.values()))
country_with_most_lost=list(k for k,v in team_lose_record.items() if v==max_lost)

In [53]:
print('countries with most loses: ',country_with_most_lost)

countries with most loses:  ['France']

In [106]:
players_with_total_medals={}
players_with_total_None={}

players=data_with_filled_na[['Name','Team']].drop_duplicates().set_index[range(len(players))]


names_and_team_with_medals=pd.Series(data_with_filled_na['Name'].iloc[i] for i in range(len(data_with_filled_na)) if data_with_filled_na['Medal'].iloc[i] in ['Gold','Silver','Bronze'])
names_and_team_with_None=pd.Series(data_with_filled_na['Name'].iloc[i] for i in range(len(df)) if data_with_filled_na['Medal'].iloc[i] =='None')

for i in players['Name']:
    players_with_total_medals[i]=[players[players['Name']==i]['Team'][0],(names_and_team_with_medals==i).sum()]
    
    # players_with_total_None[i]=[players[players['Name']==i]['Team'],(names_and_team_with_None==i).sum()]
    
max_medals=max(list(players_with_total_medals.values()))
max_nan=max(list(players_with_total_None.values()))

TypeError: 'method' object is not subscriptable

In [120]:
players=data_with_filled_na[['Name','Team']].drop_duplicates()

In [125]:
test_data=data_with_filled_na

In [128]:
test_data.set_index(['Name','Team']).iloc[3]

ID                                  4
Sex                                 M
Age                                34
Height                          170.0
Weight                           60.0
NOC                               DEN
Games                     1900 Summer
Year                             1900
Season                         Summer
City                            Paris
Sport                      Tug-Of-War
Event     Tug-Of-War Men's Tug-Of-War
Medal                            Gold
Name: (Edgar Lindenau Aabye, Denmark/Sweden), dtype: object

In [123]:
test_data

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,None
1,2,A Lamusi,M,23,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,None
2,3,Gunnar Nielsen Aaby,M,24,170.0,60.0,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,None
3,4,Edgar Lindenau Aabye,M,34,170.0,60.0,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65530,33537,Nelson vora,M,24,183.0,76.0,Portugal,POR,2008 Summer,2008,Summer,Beijing,Athletics,Athletics Men's Triple Jump,Gold
65531,33537,Nelson vora,M,32,183.0,76.0,Portugal,POR,2016 Summer,2016,Summer,Rio de Janeiro,Athletics,Athletics Men's Triple Jump,None
65532,33538,Joseph Evouna,M,19,172.0,69.0,Cameroon,CMR,1972 Summer,1972,Summer,Munich,Cycling,"Cycling Men's Road Race, Individual",None
65533,33538,Joseph Evouna,M,19,172.0,69.0,Cameroon,CMR,1972 Summer,1972,Summer,Munich,Cycling,Cycling Men's 100 kilometres Team Time Trial,None
65534,33538,Joseph Evouna,M,27,172.0,69.0,Cameroon,CMR,1980 Summer,1980,Summer,Moskva,Cycling,"Cycling Men's Road Race, Individual",None

(34411, 0)